In [2]:
import csv
import pandas as pd
import os
import torch

In [3]:
# Specify the path to the parent folder ("SCAI_comp")
read_file = '/Users/andersoncompalas/Documents/SCAI_comp/datasets/nba_games.csv'

# Specify the path for the new CSV file
write_file = '/Users/andersoncompalas/Documents/SCAI_comp/datasets/games.csv'

In [4]:
# Initialize an empty list to store the data
data_list = []

# Open the CSV file in read mode
with open(read_file, 'r') as csv_file:
    # Create a CSV reader
    csv_reader = csv.reader(csv_file)
    
    # Read the first row to get the column headers
    headers = next(csv_reader)
    
    # Iterate through each row in the CSV file and create a dictionary for each row
    for row in csv_reader:
        row_dict = {header: value for header, value in zip(headers, row)}
        data_list.append(row_dict)

# Open the new CSV file in write mode
with open(write_file, 'w', newline='') as new_csv_file:
    # Define the column headers based on the keys of the dictionaries
    headers = data_list[0].keys()

    # Create a CSV writer
    csv_writer = csv.DictWriter(new_csv_file, fieldnames=headers)
    
    # Write the headers to the new CSV file
    csv_writer.writeheader()
    
    # Write the data from the list of dictionaries to the new CSV file
    for row in data_list:
        csv_writer.writerow(row)

In [8]:
# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(write_file)
df = df.sort_values("date")
df = df.drop('Unnamed: 0', axis=1)

In [15]:
def add_target(team):
    team["target"] = team["won"].shift(-1)
    return team

df = df.groupby("team", group_keys = False).apply(add_target)

In [20]:
df["target"][pd.isnull(df["target"])] = 2

/var/folders/10/zgb5222d30nfb8w2mswkfr000000gn/T/ipykernel_61723/1618397414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2

In [21]:
df["target"] = df["target"].astype(int, errors = "ignore")

In [22]:
#Check if win and loss are balanced
df["won"].value_counts()

won
False    8886
True     8886
Name: count, dtype: int64

In [23]:
df["target"].value_counts()

target
1    8872
0    8870
2      30
Name: count, dtype: int64

In [24]:
nulls = pd.isnull(df)

In [26]:
nulls.sum()

mp          0
fg          0
fga         0
fg%         0
3p          0
           ..
home_opp    0
season      0
date        0
won         0
target      0
Length: 147, dtype: int64

In [47]:
nulls = nulls[nulls > 0]

In [31]:
#Selects columns without null values
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [32]:
valid_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=147)

In [49]:
df = df[valid_columns].copy()

In [60]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
16086,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
16904,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
16905,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
16087,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,1
1225,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,0.737,...,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False,0
11533,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True,1
11532,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False,0
7477,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False,2
7476,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True,2

In [61]:
#Convert to numpy array

df.values()

#Train test split
#Convert numpy to tensor

df.columns = ['target']

# creating tensor df
torch_tensor = torch.tensor(df['targets'].values)

# printing out result
print(torch_tensor)

ValueError: Length mismatch: Expected axis has 147 elements, new values have 1 elements